



/* _____________header______________ */

#header {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(180deg, #5cbc50, rgb(28, 211, 28));
}

.header {
    width: 100%;
    display: flex !important;
    justify-content: space-around;
}

.header_logo {
    width: 250px;
}
.header_logo-img {
    width: 100%;
    color: #ccc;
}
.header_logo-img:hover {
    opacity: 0.8;
}


.header_container {
    height: 100px;
}
.header_navbar {
    justify-content: center;
}

.header_container-navbar {
    padding: 15px;
}

.container-navbar_item {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
}

.search_btn:hover,
.container-navbar_item:hover {
    opacity: 0.8;
}

.container-navbar_item--line::after {
    content: "";
    border: 1px solid rgba(228, 221, 221, .7);
    margin-left: 16px;
}

.header_container-search {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 40px;
    background-color: #fff;
    border-radius: 6px;
}

.search_input {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    border-radius: 6px;
    border: none;
    outline: none;
}


.search_btn {
    position: absolute;
    width: 50px;
    height: 36px;
    margin-right: 2px;
    right: 0;
    border: none;
    background-color: #15ce2d;
    border-radius: 4px;
}
.search_btn i {
    color: #fff;
}

.search_content {
    position: absolute;
    z-index: 10;
    width: 556px;
    bottom: -60px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    display: none;
    border-radius: 4px;

}
.search_content::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    top: -10px;
}
.header_container-search:hover .search_content {
    display: block !important;
    animation: down ease-in .2s;
    z-index: 100;
}
.search_content a {
    text-decoration: none;
}
.search_content a:hover {
    background-color: #ccc;
}
.search_content-items {
    display: block;
    width: 100%;
    padding: 6px 20px;
    font-size: 14px;
    color: #000;
}
/* Cart css */

.header_cart {
    position: relative;
    text-decoration: none;
    width: 100px;
    height: 100px;
    z-index: 100;
}
.header_cart-logo {
    width: 80%;
    animation: cart ease-in-out .5s;
}
.header_cart:hover .cart_container{
    display: block;
    animation: hoverBox ease-in .2s;

}
.cart_container {
    display: none;
    position: absolute;
    right: 0;
    width: 300px;
    min-height: 100px;
    border-radius: 8px;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.1);
}
.cart__quantity {
    position: absolute;
    top: 12px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cart_container::before{
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 20px;
    border-color:  transparent transparent #fff transparent;
    right: 30px;
    top: -40px;
}
.cart_container .container_content {
    padding: 20px;
}
.cart_container .container_footer {
    width: 100%;
    height: 40px;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.container_footer button {                                                      /*đã sửa*/
    width: 140px;
    height: 24px;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: rgb(236 41 41);
    box-shadow: 0 5px 5px rgb(132 23 5 / 55%);
    transition: width height .2s;
}
.container_footer button:hover {                                                 /*đã sửa*/
    cursor: pointer;    
    background-color: rgb(221, 243, 19);
    width: 150px;
    height: 30px;
}
.cart_item-name {
    width: 140px;
}
.cart_price {
    text-align: center;
}
.container_content-item {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container_content-item img {
    width: 40px;
}
.container_content-item span{
    color: #000;
    font-size: 12px;
    line-height: 1.5;
}
.container_content-item button {
    width: 20px;
    height: 20px;
    border: none;
    color: #fff;
    border-radius: 2px;
    background-color: red;
}
.container_content-item button:hover {
    cursor: pointer;
    opacity: .7;
}
/* ______________container____________ */

#container {
    width: 100%;
    min-height: 560px;
    display: flex;
}

.container {
    width: 100%;
    position: relative;
}

.container_slide {
    position: relative;
    width: 100%;
}
/* slider */

.slide {
    height: 300px;
    width: 100%;
    margin: 40px 0;
    z-index: 1;
}
.slide_img {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

/* slick css */
.slide.slick-initialized.slick-slider {
    width: 100%;
    height: 100%;
}
button.slick-prev {
    left: 0;
    z-index: 10;
}
button.slick-next {
    right: 0;
    z-index: 10;
}

ul.slick-dots {
    position: absolute;
    bottom: 10px;
    margin: 0 calc(50% - 100px);
    width: 200px;
    height: 30px;
    z-index: 10;
    display: flex !important;
    justify-content: center;
    list-style-type: none;
}

ul.slick-dots li button {
    width: 14px;
    height: 14px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #999;
    color: #999;
    overflow: hidden;
    border: none;
}

li.slick-active > button{
    width: 14px;
    height: 14px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #555 !important;
    color: #555 !important;
    overflow: hidden;
    border: none;
    z-index: 20;
}

.container_slide:hover  button.slick-arrow{
    opacity: 1;
    transition: all .2s;
}

button.slick-arrow {
    position: absolute;
    bottom: calc(50% - 40px);
    width: 40px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;
    font-size: 24px;
    border-radius: 3px;
    border: none;
    opacity: 0;
    transition: all .2s;
}


/* container navbar */
/* .container_navbar {
    position: relative;
    background-color: #fff;
}

.container_navbar-heading {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.container_navbar-heading i {
    margin-left: 10px;
    font-size: 24px;
    margin-right: 6px;
}

.container_navbar-heading h3 {
    font-size: 14px;
    text-transform: uppercase;
}

.container_navbar-list {
    position: absolute;
    margin-top: 60px;
    list-style-type: none;
}
.container_navbar-item {
    width: 100%;
    height: 30px;
    font-size: 16px;
} */

/* container content */
.container_content {
    background-color: rgba(255, 255, 255, 0.4);
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* content nav */
.content_navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    /* background-image: linear-gradient(90deg, rgb(74, 245, 31) ,rgb(17, 182, 17)); */
    background-color: rgba(38, 184, 38, 0.7);

}

.content_navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 100%;
}
.content_navbar-list {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 50px;
    background-color: rgb(74, 245, 31);
    border-radius: 10px;
}
.content_navbar-item {
    position: relative;
    margin: 0 15px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
.content_navbar-item:hover {
    color: #333;
}
.content_navbar-item:hover > .navbar-item_list{
    display: block;
    animation: fadeInDown ease-in .2s;
}

.navbar-item_list::before  {
    content: "";
    position: absolute;
    width: 120px;
    height: 30px;
    margin-top: -20px;
    z-index: 12;
}

.navbar-item_list {
    display: none;
    position: absolute;
    width: 150px;
    max-height: 300px;
    margin-top: 20px;
    border-radius: 3px;
    /* padding: 10px; */
    background-color: #fff;
    z-index: 10;
    list-style-type: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.navbar-item_list-item {
    font-size: 14px;
    padding: 10px 10px;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar-item_list-item:hover {
    color: #fff;
    background-color: rgb(74, 245, 31);
}

.content_navbar-item i{
    margin-right: 4px;
}

.content_navbar-list {
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.content_navbar-items {
    margin: 0 10px;
    font-size: 20px;
    color: #fff;
}

/* container items */
.content_list {
    height: max-content;
}

.container_items {
    position: relative;
    height: max-content;
    margin-top: 20px;
    overflow: hidden;
}

.container_items:hover {
    cursor: pointer;
}

.container_items img{
    width: 100%;
}

.container_items:hover .container_items-content {
    background-color: rgba(133, 165, 161, 0.6);
    animation:  fadeIn ease-out .3s;
    transition: all .3s;
    opacity: 1;
    transition: translateY(0);
}

@keyframes fadeIn {
    to{
        transform: translateY(0);
    }from{
        transform: translateY(100%);
    }
}


.container_items-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px 12px 4px;
    background-color: rgb(133, 165, 161);
    opacity: 0;
    transition: translateY(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* animation: fadeOut ease .3s; */
    transition: all .3s;
}

@keyframes fadeOut {
    to{
        opacity: 1;
        transform: translateY(100%);
    }from{
        opacity: 0;
        transform: translateY(0);
    }
}

.container_items-content h4 {
    font-size: 18px;
    /* padding: 10px; */
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    color: rgb(0, 0, 0);

}
.container_items-content h2 {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    color: rgb(0, 0, 0);

}
.items-content_cost {
    display: flex;
    width: auto;
    padding: 10px;
    justify-content: space-between;
}

.items-content_cost span {
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
}

.items-content_cost .rules {
    width: 2px;
    height: 16px;
    margin: 0 12px;
    background-color: #ffffff;
}
/* .items-content_addcart {
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #555;
    font-weight: 600;
    background-color: rgb(27, 199, 176);
} */
.items-content_infor {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.items-content_add {
    position: absolute;
    bottom: 10%;
}
.items-content_addcart {
    width: 40px;
    height: 40px;
    bottom: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    font-size: 20px;
    border: none;
    color: #6ece15;
}
.items-content_addcart:hover {
    cursor: pointer;
    opacity: 0.7;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.items-content_add:hover .addcart_text{
    opacity: 1;
}
.addcart_text {
    position: absolute;
    display: flex;
    width: 110px;
    margin-left: 35px;
    opacity: 0;
    padding: 4px 10px;
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    background-color: #fff;
}
/* _______________footer_______________ */

#footer {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 50px;
    background-color: #fff;
}

.footer {

}

.footer_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    top: 15px;
    color: #15ce2d;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.footer_heading h1 {
    font-size: 20px;   
}

.footer_list {
    margin: 16px 0;
}

.footer_list a{
    margin: 16px 0;
    color: #000;
    list-style-type: none;
    text-decoration: none;
}

.footer_list a:hover{
    color: rgb(252, 80, 0);
}

.footer_list-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 12px;
    color: #000;
    list-style-type: none;
}

.footer_items {
    text-decoration: none;
    font-size: 14px;
    color: #333;
    padding: 6px;
}
.footer_items:hover {
    color: rgb(252, 80, 0);
    cursor: pointer;
}



/* _________________________________css login________________________________ */


.header--login {
    background-image: linear-gradient(170deg, rgb(240, 133, 34), white) !important;
}

.header_question {

}

.header_question span {
    font-size: 20px;
    color: red;
}

.form--login {
    width: 400px;
    min-height: 500px;
    margin-top: 40px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

.login_header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 133, 34);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.login_header h1 {
    font-size: 24px;
    color: #fff;
}

.login_container {
    padding: 20px;
}

.login_container-input {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.login_container-input .form-label {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.login_container-input .form-label span {
    color: #777;
    font-size: 14px;
}

.login_container-input input {
    width: 100%;
    height: 45px;
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.form-submit {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    border: none;
    background-image: linear-gradient(90deg,rgb(240, 133, 34) 0,#f68a39 51%,#f65e38);
    background-size: 200% auto;
    transition: all .2s;
}

.form-submit:hover {
    cursor: pointer;
    background-position: 100%;
    transition: all .2s;
}

.login_container h4 {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    color: #333;
}

.login_container h4 a {
    text-decoration: none;
    color: #f65e38;
}
.login_container h4 a:hover {
    color: #555;
}

.login_footer {
    padding: 0 20px 40px;
}

.login_footer-header {
    width: 100%;
    display: flex;
    align-items: center;
}
.login_footer-header-line {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
}

.login_footer-header span {
    font-size: 16px;
    color: #333;
    margin: 0 10px;
    opacity: 0.6;
}

.login_footer-other {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.login_footer-btn {
    width: 100%;
    margin: 0 20px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
    background-color: rgb(240, 133, 34);
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.login_footer-btn:hover  {
    cursor: pointer;
    opacity: 0.7;
}

.form-message {
    font-size: 14px;
    color: rgb(207, 17, 17);
}




/* contact css */
/* .container{
    width: 100%;
    height: 600px;
    background-image: url(/img/pic4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}

.container_box-contact{
    position: absolute;
    width: 500px;
    height: 550px;
    background-color: rgb(217, 255, 130);
    margin-left: 25px;
    margin-top: 25px;
    border: 5px solid yellowgreen;
    border-radius: 15px ;
    opacity: 0.9;
}
.contact-heading{
    height: 40px;
    text-align: center;
    line-height: 40px;
}

hr{
    margin-left: 25%;
    margin-right: 25%;
    border-style: outset;
    opacity: 0.5;
}

.address{
    width: 100%;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px ;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left{
    width: 50%;
    float: left;
}

.right{
    width: 50%;
    float: right;
}

fieldset{
    border: 2px solid yellowgreen;
    width: 470px;
    height: 350px;
    margin: 10px 10px;
    padding-left: 5px ;
}


.feedback-box{
    padding: 15px;
}



.button button{
    display: inline-block;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: yellowgreen;
    color: white;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

button:hover{
    color: rgb(205, 228, 159);
}

.button{
    text-align: center;
} */

.container--cart {
    display: flex;
    border-radius: 12px;
}
.cart__content-left {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: max-content;
    background-color: #fff;
}
.cart__content-right {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    height: max-content;
    padding-bottom: 30px;
    background-color: #fff;
    border-left: 2px solid rgba(8, 107, 8, 0.3);
}
.cart__content-heading {
    padding: 12px;
    font-size: 24px;
    color: #15ce2d;
    margin-top: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(12, 190, 21, 0.5);
}
.cart__content-item {
    padding: 10px ;
}
.cart__content-item h4 {
    font-size: 16px;
    margin-bottom: 10px;
}
.cart__content-item textarea,
.cart__content-item input {
    padding: 6px;
    width: 200px;
    height: 30px;
}
.cart__content-item textarea {
    height: 50px;
}
.cart__content-item select {                                                                    /*đã sửa*/
    text-align: left;
    width: 200px;
    height: 30px;
}
.box-cost {       
    width: 300px;                                                                       /*đã sửa*/  
    padding: 15px ;
    margin: 20px calc(50% - 150px);
    border: 4px solid rgb(133, 165, 161);
}
.box-cost p {
    padding: 4px 0;
}
.item-text {
    font-size: 16px;
    color: #333;
}
.sum-cost {
    margin-top: 6px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.item-cost {
    font-size: 16px;
    text-transform: bold;
    float: right;
}
.buy-btn {                                                                                                                                        
    width: 300px;
    margin-left: calc(50% - 150px);
    height: 40px;
    /*background-color: #6ece15;*/
    background-image: linear-gradient(90deg,#0de731 0,#afdf2b 51%,#11c228);
    background-size: 200% auto;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    box-shadow: 0 5px 10px rgba(12, 190, 21, 0.5);
}



.buy-btn:hover {                                                                                /*đã sửa*/
    cursor: pointer;
    background-position: 100%;
    transition: all .2s;
}
.cart__content-left-item {
    width: auto;
    height: 120px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:  1px solid rgba(0, 0, 0, 0.2);
}
.cart__content-left-item img {
    width: 100px;
}
.cart__content-item-left {
    display: flex;
    align-items: center;
}
.cart__content-item-left button {                                                   /*đã sửa*/
    width: 30px;
    height: 20px;
    padding: 4px;
    margin-right: 30px;
    border: none;
    color: #777;
    border-radius: 3px;
    background-color: peachpuff;
    box-shadow: 0 5px 10px rgb(12 190 21 / 50%);
}
.cart__content-item-left button:hover {                                             /*đã sửa*/
    cursor: pointer;
    background-color: transparent;
}
.cart__content-item-left span {
    font-size: 16px;
    margin-left: 30px;
}
.cart__content-item-right {
    display: flex;
    align-items: center;
}
.cart__content-item-right .item-cost {
    margin-right: 30px;
}
.quanity-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.quanity-box button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgb(241, 238, 184);
}
.quanity-box button:hover {
    cursor: pointer;
    background-color: rgb(130, 243, 54);
}
.quanity-box span {
    padding: 10px 15px;
    font-size: 16px;
}

.cart-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: max-content;
    background-color: #fff;
    border-radius: 20px;
}
.modal-content__header {
    width: 100%;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: linear-gradient(180deg, rgb(25, 238, 17), rgb(8, 156, 20));
    box-shadow: 0 0 4px #15ce2d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content__header h2 {
    font-size: 20px;
    color: #fff;
}
.modal-content__content {
    padding: 15px 20px 30px 20px;
}
.modal__btn {
    position: relative;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.modal__btn::before {
    position: absolute;
    content: "";
    width: 140%;
    height: 2px;
    top: -16px;
    left: -20%;
    background-color: rgba(56, 63, 57, .5);
}
.list-pay {
    display: flex;
    justify-content: space-around;
}
.item-pay {
    display: flex;
    flex-direction: column;
}
.infor-product {
    margin-top: 50px !important;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);

}
.content__item {
    padding: 20px 10%;
}
.content__item-left {
}
.content__item-left img{                                                            /*đã sửa*/  
    width: 100%;
    border: 1px solid #b1f51f;                                                       
    border-radius: 55px;
    transition: .5s;                                                             
}

.content__item-left img:hover{                                                            /*đã sửa*/  
    width: 105%;                                                            
}

.content__item-center {
    padding: 50px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}
.content__item-center h2 {                                                           /*đã sửa*/  
    font-size: 24px;                                                                  
    color: #046811;
    margin-bottom: 20px;
    padding: 5px;                                                                     
    text-align: center;
    border-bottom: 1px solid rgba(38, 184, 38, 0.7);
}
.content__item-center .status {                                                     /*đã sửa*/  
    font-size: 15px;
    color: #333;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgba(122, 230, 21, .3);
    border-radius: 5px;
}
.content__item-center .price {                                                       /*đã sửa*/  
    margin: 20px 0;
}
.content__item-center .nav-rule {
    position: relative;
    margin-right: 12px;
}
.content__item-center .nav-rule::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 16px;
    background-color: rgba(68, 73, 68, .5);
    margin-left: 6px;
}
.content__item-center .price span{
    font-size: 16px;
    color: #1fdd38;
}
.product__item-quantity {                                                       /*đã sửa*/  
    display: flex;
    align-items: center;
    margin: 15px;
}   
.product__quanity-box {
    margin-left: 20px;
    border-radius: 40px;
    width: 120px;
    height: 30px;
    background-color: rgba(212, 212, 207, 0.788);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px 3px rgba(212, 212, 207, 0.788);
}
.product__quanity-box .button-left {
    width: 40px;
    height: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: none;
    background-color: #b3b8b4;
}
.product__quanity-box .button-right {
    width: 40px;
    height: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #b3b8b4;
    border: none;
}
.product__quanity-box .quantity {
    font-size: 16px;
    color: #000;
}
.product__quanity-box button:hover {
    cursor: pointer;
    background-color: #afacaa;
}
.product__btn-add {
    width: 200px;
    margin-top: 20px;
    height: 40px;
    border-radius: 40px;
    border: none;
    color: #fff;
    font-size: 14px;
    background-image: linear-gradient(90deg,#0de731 0,#afdf2b 51%,#11c228);
    color: rgb(250, 250, 250);
    font-weight: 600;
    background-size: 200% auto;
    box-shadow: 0 5px 5px rgba(12, 190, 21, 0.5);
}
.product__btn-add:hover {
    cursor: pointer;
    background-position: 100%;
    transition: all .2s;
}

.content__navbar {
    width: 300px;
    height: 40px;
    margin: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
}
.content__navbar-btn {
    border: none;
    background-color: #fff;
    font-size: 24px;
    color: #ccc;
}

.content__navbar-btn:hover {
    cursor: pointer;
    color: #333;
}

.btn--hover {
    color: #333;
}
.content__navbar-list {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.content__navbar-item {
    padding: 6px 12px;
    font-size: 20px;
    color: #000;
}
.content__navbar-item:hover {
    cursor: pointer;
    background-color: rgba(247, 33, 33, .5);
    border-radius: 5px;
    color: #fff;
}
.content__navbar-item--focus {
    background-color: rgb(247, 33, 33);
    color: #fff;
    border-radius: 5px;
}
.admin__container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 20px rgba(0, 0, 0, 0.1);
}
.header__table {
    background-color: rgb(102, 243, 9);
    height: 30px;
    width: 800px;
    font-size: 14px;
    color: #fff;
}
.admin__container {
    width: 800px;
    height: max-content;
    display: flex;
    justify-content: center;
}
.container__content {
    border-collapse: collapse;
    margin-bottom: 50px;

}
.content__number {
    width: 40px;
    background-color: rgba(19, 243, 49, 0.2);
}
.content__number span {
    font-size: 16px;
    font-style: bold;
    padding: 10px;
}
.content__img {
    width: 100px;
}

.content__type {
    width: 150px;
}

.content__name {
    width: 250px;
}
.content__infor{
    width: 300px;
    padding: 10px;
}
.content__infor span {
    display: -webkit-box;
    max-width: 100%;
    height: 100px;
    font-size: 14px;
    line-height: 1.5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}
.content__weight {
    width: 100px;
}

.content__cost {
    width: 100px;
}

.content__edit {
    width: 50px;
}

.content__delete {
    width: 50px;
}
.content-text {
    font-size: 14px;
    color: #333;
    text-align: center;
    padding: 0 10px;
}
.container__content th,
.container__content td {
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.container__content .btn {
    margin-left: 5px;
}
.addmin__container-header {
    width: 100%;
    height: 90px;
    display: flex;
    position: relative;
}
.addmin__container-header h1 {
    position: absolute;
    left: calc(50% - 120px);
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 2px;
    background-image: linear-gradient(180deg, rgb(119, 241, 94), rgb(29, 201, 29));
    color: #fff;
}
.addmin__container-header button {
    position: absolute;
    right: 50px;
    top: 30px;
    padding: 6px 12px;
    height: 30px;
    float: right;
    border: none;
    background-color: rgb(54, 54, 231);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 3px 3px rgb(133, 165, 161);
    border-radius: 4px;
}
.addmin__container-header button:hover {
    background-color: rgb(233, 138, 15);
    cursor: pointer;
}
.admin__container-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-box {
    width: 400px;
    height: max-content;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    animation: down ease-in-out .3s;
}
.box__header {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(180deg, rgb(52, 245, 35), rgb(27, 158, 59));
    display: flex;
    justify-content: center;
    align-items: center;
}
.box__header h1{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
.box__content {
    padding: 15px 30px;
}
.box__content-item {
    margin-bottom: 10px;
}
.box__content-item h3{
    font-size: 16px;
    margin-bottom: 10px;
}
.box__content-item select {
    margin: -4px 20px 0;
}
.box__content-item .more{
    border: none;
    background-color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: -6px;
}
.box__content-item .more:hover {
    cursor: pointer;
    opacity: 0.7;
}
.box__content-item input {
    width: 100%;
    padding: 6px 12px;
}
.box-img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100px;
    border: 2px solid rgb(76, 236, 23);
}
.box-img img {
    width: 100%;
}